.panel {
    display: block; /* Show the panel when the toggle class is applied to the parent .user div */
    position: absolute;
    top: 61px;
    right: 100px;
    background-color: white;
    width: 245px;
    border-radius: 8px; /* Add rounded corners for a nicer appearance */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2); /* Add a subtle box shadow for depth */
    opacity: 0; /* Initially hide the panel */
    transition: opacity 0.5s ease-in-out; /* Apply transition to opacity for smooth fade-in/out effect */
  
    @media (max-width: 650px) {
      top: 40px;
      right: 33px;
    }
  

    .top-flex{
      display: flex;
      align-items: center;
      padding: 10px;
      gap: 12px;
      cursor: pointer;
      border-bottom: 1px gray  solid;
      p{
        font-size: 12px;
      }
   h4{
    font-size: 14px;
   }
      img{
        width: 40px;
        height: 40px;
        border-radius: 50%;
      }
    }

    .flex {
      display: flex;
      align-items: center;
      padding: 10px;
      gap: 12px;
      cursor: pointer;
      transition: background-color 0.3s ease-in-out; // Apply transition to background-color for smooth color change
    
      &:hover {
        background-color: #081630;
        color: white;
    
        img {
          filter: grayscale(100%) invert(100%); // Adjust the filter for image hover effect
        }
    
        p {
          color: white; // Change text color on hover
        }
      }
    }
    

    // .flex {
    //   display: flex;
    //   align-items: center;
    //   padding: 10px;
    //   gap: 12px;
    //   cursor: pointer;
    //   transition: background-color 0.3s ease-in-out; /* Apply transition to background-color for smooth color change */
    //   & :hover {
    //     background-color: #081630;
    //     color: white;
    //   }
    //   // &.activate {
    //   //   background-color: orange;
    //   // }
    // }
  }