 
  <div class="nav-container">

  <div class="left">
    <img src="assets/image/header/Group.svg" alt="">
    
  </div>
  <div class="right">
    <div class="items"  [class.showclass]="show" (click)="toggle()">
        <ul >
            <li  > <a routerLink="/home" routerLinkActive="activate">Home</a>   </li>
            <li  > <a  routerLink="/required" routerLinkActive="activate">Vehical listing</a>   </li>
            <li  > <a routerLink=" " routerLinkActive="activate">Contact</a>   </li>
           
        </ul>
    </div>
    <div class="icons">
      <i class="fa-solid fa-bars " *ngIf="icon" (click)="toggle()"></i>
      <i class="fa-solid fa-xmark" *ngIf="!icon" (click)="toggle()"></i>
    </div>
    <div class="user">
      <img src="assets/image/header/account.svg" alt="">
        <p routerLink="/sign-up">   sign-in </p>
        
    </div>
  </div>


  </div>
  