 
  <div class="nav-container">

  <div class="left">
    <img src="assets/image/header/Group.svg" alt="">
    
  </div>
  <div class="right">
    <div class="items">
        <ul>
            <li routerLink="/home" >Home</li>
            <li>Vehical listing</li>
            <li> Contact</li>
        </ul>
    </div>
    <div class="icons">
      <i class="fa-solid fa-bars"></i>
    </div>
    <div class="user">
      <img src="assets/image/header/account.svg" alt="">
        <p routerLink="/sign-up">   sign-in </p>
        
    </div>
  </div>


  </div>
  