.nav-container{
    padding: 1rem 3rem;
    display: flex;
     align-items:center;
     justify-content: space-between;
     @media(max-width:650px){
        padding: .4rem;
    }


.left{
    img{
        @media(max-width:650px){
           width: 100px;
        }
    }
}

.right{
    display: flex;
align-items: center;
justify-content: space-between;
@media(max-width:975px){
    //always remember this logic because i am always forget it
    .items{
        position: absolute !important;
        top:-170px;
        left: -2px;
      }  

    .showclass{
       
        text-align: center;
        padding-block: 1rem;
        
        background-color: orange;
        width: 100%;
        position: absolute !important;
        top: 68px;
        left: 2px;
        height: 300px;
        @media(max-width:655px){
            top: 45px;
        }
    
          ul li{
        display: flex !important;
         flex-direction: column;
         align-items: center;
         justify-content: center;
         padding-block: 1rem;

}

}
  
    
}


//
.items{
  
    padding-right: 2rem;
   ul{
    li {
        display: inline-block;
        padding-inline: 3rem;
        color: #000;
        font-family: Poppins;
        font-size: 17px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        a{
            text-decoration: none;
            cursor: pointer;
            color: black;
            &.activate{
                border-bottom: 2px solid var(--button-color);
                padding-top: 8px;
            }
        }
    
       
    }
   }
   

}
 

.icons{
    display: none;
    @media(max-width:975px){
        display: block;
        font-size:18px;
        padding-right: 11px;
    }
   
}
// .user{
//     padding-right:2rem ;
//     display: flex;
//     align-items: center;
//     gap: 7px;
//     @media(max-width:650px){
//          padding-right: 5px;
//     }

// //this is just testing
// .panel {
//     position: absolute;//pannel is default class
//     top: -200px;
 
//   }

//   &.toggle .panel {
//     //this is the toggle class

//     position: absolute;
//     top: 61px;
//     right: 134px;


//   }

















//     p{
//         color: #000;
//         font-family: Poppins;
//         font-size: 17px;
//         cursor: pointer;
//     }
//     img{
//         width: auto;
//         @media(max-width:650px){
//             width: 35px;
//         }
       
        
//     }
// }

.user {
    padding-right: 2rem;
    display: flex;
    align-items: center;
    gap: 7px;
    cursor: pointer;
    
    @media (max-width: 650px) {
      padding-right: 5px;
    }
  
    .panel {
      display: none; // Initially hide the panel
    }
  
    &.toggle .panel {
      display: block; // Show the panel when the toggle class is applied to the parent .user div
      position: absolute;
      top: 61px;
      right: 100px;
      background-color: white;
      width: 180px;
      @media (max-width:650px){
        top: 40px;
        right: 33px;
      }
      .flex{
        display: flex;
        align-items: center;
        padding: 10px;
        gap: 12px;
        cursor: pointer;

        &.activate{
           background-color: orange;
           
        }
      }
    }
  }
  





}

}