<div class="footer">
    <div class="upper">
        <div class="left">
            <img src="assets/image/l-home/white-car.svg" alt="">
            <p>lLorem ipsum dolor sit amet consectetur. Sit mi dolor nullam
                faucibus molestie. Quis mauris at eget risus mattis
                ornare. Nec lorem in et sapien tristique neque vivamus.
                Egestas tempus facilisis in habitant vitae.</p>
        </div>
        <div class="right">
    
            <div class="first">
                <h3>
                    About
                </h3>
                <ul>
                    <li>How it works</li>
    
                    <li> Privacy Policy</li>
                    <li> Terms and Conditions</li>
                    <li> About Us</li>
                </ul>
            </div>
            <div class="first">
                <h3>
                    Important Links
                </h3>
                <ul>
                    <li>
    
                        Vehicle Listing
    
                    </li>
    
                    <li> Contact Us</li>
    
                </ul>
            </div>
            <div class="first">
                <h3>
                    Socials
                </h3>
                <ul>
                    <li>Instagram </li>
                    <li> Twitter</li>
                    <li> Facebook</li>
    
                </ul>
            </div>
    
        </div>
    </div>
    <hr>
  <p>©2023 CharterCar. All rights reserved</p>
 


</div>