 

<!-- here  is the example of test pop up -->
<div class="popup-container">
   <img src="assets/image/l-home/correct.svg" alt="">
<h2 mat-dialog-title >You have Subscribe Successfully</h2>
<mat-dialog-content class="p">Now you will receive the Notification regarding Recent Cars and other Opportunity</mat-dialog-content>
<mat-dialog-actions>
  <button   mat-button mat-dialog-close>Continue</button>
</mat-dialog-actions>
</div>

 
 <!-- <div class="popup-container">
    <div class="image">
       <img src="assets/correct.svg" alt="">
    </div> 
    <h3>You have Subscribe Successfully</h3>
<p>Now you will receive the Notification regarding Recent Cars and other Opportunity</p>
<button   (click)="onClick($event)">Continue</button>


  



</div> -->



