<div class="billing">

    <div class="left">
        <!-- this is for bill  remember same form is required for  all component -->
        <form  #billing="ngForm" (ngSubmit)="submitbilling(billing.value)"  >
            <div class="billing-info">


                <div class="info">
                    <div class="left-info">
                        <h3>Billing Info</h3>
                        <p>Please enter your billing info</p>
                    </div>
                    <div class="right-info">
                        <p>Step 1 of 4</p>
                    </div>
                </div>


                <div class="billing-billing-info">


                    <div class="input">

                        <label for="">Name</label>
                        <input type="text" name="name" placeholder="Your name" ngModel required #name="ngModel"  >
                        <span
                   
                        *ngIf="name.invalid  && name.touched "> Enter right name</span>
                    </div>
                    <div class="input">

                        <label for="">Phone Number</label>
                        <input type="text" placeholder=""  ngModel required name="phone" #phone="ngModel"
                    [maxlength]="11"
            required pattern="[0-9]*">
                    <span *ngIf="phone.invalid  && phone.touched "> Enter right phone numeber</span>

                    </div>
                    <div class="input">

                        <label for="">Address</label>
                        <input type="text" placeholder="New York" required  ngModel name="address"  #address="ngModel"> 
                        <span *ngIf=" address.invalid && address.touched"> Enter yuor address</span> 
    
                    </div>
                    <div class="input">

                        <label for="town">Town/City</label>
                        <input type="text" placeholder="New York" required  ngModel name="town"  #town="ngModel"> 
                    <span *ngIf=" town.invalid && town.touched"> Enter yuor home address</span> 

                    </div>








                </div>














            </div>
            <!-- thsi secion for rental info -->
            <div class="rental-info">
                <!-- this is for pick up -->

                <div class="info">
                    <div class="left-info">
                        <h3>Rental Info</h3>
                        <p>Please enter your Rental info</p>
                    </div>
                    <div class="right-info">
                        <p>Step 1 of 4</p>
                    </div>
                </div>
                <div class="box-1">
                    <div class="radio">
                        <input type="radio" name="" id="">
                        <label for="chek">Pick - Up</label>
                    </div>
                    <div class="flex-input">


                        <div class="input">

                            <label for="location">Location</label>
                            <input type="text"  placeholder="Select your city" ngModel required  name="location" #location="ngModel">
                            <span *ngIf="location.invalid && location.touched"> Enter your location</span>
                        </div>
                        <div class="input">

                            <label for="pickdate">Date</label>
                            <input type="date"   placeholder="Select your date" ngModel required  name="pickdate"
                            #pickdate="ngModel">
                            <span *ngIf="pickdate.touched && pickdate.invalid">Enter pick up date</span>
                        </div>
                        <div class="input">

                            <label for="pickuptime">Time</label>
                            <input type="tiem"  placeholder="Select your date" ngModel required  name="pickuptime"
                            #picktime="ngModel">
                            <span *ngIf="picktime.touched && picktime.invalid">Enter pick up time</span>
                        </div>
                    </div>
                </div>




                <!-- thsis is for droop off -->
                <div class="box-2">
                    <div class="radio">
                        <input type="radio" name="" id="">
                        <label for="chek">Drop - Off</label>
                    </div>
                    <div class="flex-input">


                        <div class="input">

                            <label for="location">Location</label>
                            <input type="text"   placeholder="Select your city" ngModel required  name="location" #location="ngModel">
                            <span *ngIf="location.invalid && location.touched"> Enter your location</span>
                        </div>
                        <div class="input">

                            <label for="dropdate">Date</label>
                            <input type="date"  placeholder="Select your date" ngModel required  name="dropdate"
                            #dropdate="ngModel">
                            <span *ngIf="dropdate.touched && dropdate.invalid">Enter pick up date</span>
                        </div>
                        <div class="input">

                            <label for="droptime">Time</label>
                            <input type="tiem"   placeholder="Select your date" ngModel required  name="droptime"
                            #droptime="ngModel">
                            <span *ngIf="droptime.touched && droptime.invalid">Enter pick up time</span>
                        </div>
                    </div>
                </div>















            </div>

            <!-- for confirmation  of all things that user fill -->
            <div class="confirmation">

                <div class="confirmation-flex">
                    <div class="left-confirm">
                        <h3>Confirmation</h3>
                        <p>We are getting to the end. Just few clicks and your rental is ready!</p>
                    </div>
                    <div class="right-confirm">
                        <p>Step 4 of 4</p>
                    </div>
                </div>

                <div class="check-box">
                    <div class="input-confirm">
                        <input type="checkbox" name="first" ngModel required #first="ngModel" >
                        <p>I agree with sending an Marketing and newsletter emails. No spam, promissed!</p>
                        <span *ngIf="first.touched && first.invalid"> fill the reqquired conditons</span>
                    </div>
                    <div class="input-confirm">
                        <input type="checkbox" name="second"  ngModel required #first="ngModel" >
                        <p>I agree with our terms and conditions and privacy policy.</p>
                    </div>

                    <button [disabled]="billing.invalid    " 
                     
                    >Sign Up</button>
                    <div class="logo-security">

                        <img src="assets/image/required/logo-security.svg" alt="">


                        <h4>All your data are safe</h4>
                        <p>We are using the most advanced security to provide you the best experience ever.</p>

                    </div>


                </div>



            </div>




        </form>






    </div>


    <!-- thsis is right section where only cars detail required no form is invoved -->
    <div class="right">
        <div class="rental-summery">
            <h3>Rental Summary</h3>
            <p>Prices may change depending on the length of the rental and the price of your rental car.</p>

        </div>
        <div class="image-flex">

            <div class="left-image-flex">
                <img src="assets/image/required/View-4.svg" alt="">
            </div>
            <div class="right-image-flex">
                <h3>Nissan GT - R</h3>
                <div class="bottom-right-image-flex">
                    <div class="star">
                        <img src="assets/image/required/star.svg" alt="">
                        <img src="assets/image/required/star.svg" alt="">
                        <img src="assets/image/required/star.svg" alt="">
                        <img src="assets/image/required/star.svg" alt="">
                        <img src="assets/image/required/star.svg" alt="">
                    </div>
                    <p>440+ Reviewer</p>


                </div>
            </div>
        </div>
        <div class="price-tax">
            <p>Subtotal</p>
            <h5>$80.00</h5>

        </div>
        <div class="price-tax">
            <p>Tax</p>
            <h5>$0</h5>

        </div>

        <div class="total">
            <div class="total-left">
                <h3>Total Rental Price</h3>
                <p>Overall price and includes rental discount</p>
            </div>
            <div class="total-right">
                <h2>$80.00</h2>
            </div>
        </div>


    </div>


</div>