 

 
<div class="sign-up">
<div class="left">
    <img src="assets/image/sign-up/Cover.svg" alt="">
</div>

<div class="right">
<div class="logo">

    <img src="assets/image/header/Group.svg" alt="">
    <div class="header">
        <h3>Sign Up to your Account</h3>
        <p>Welcome! please enter your detail</p>
    </div>
</div>
  <div class="form">
    <form action="">
    <div class="input">
      <label for="name">Name</label>
      <input type="text" placeholder="Name">
    </div>
    <div class="input">
        <label for="name">Phone</label>
        <input type="text" placeholder="Phone">
      </div>
      <div class="input">
        <label for="name">Email</label>
        <input type="text" placeholder="Enter your email">
      </div>
      <div class="input">
        <label for="name">Password</label>
        <input type="text" placeholder="Enter your Password">
      </div>
      <button>Sign Up</button>
 

    </form>
  </div>
  <div class="para">

    <p>Already have an account? Sign In</p>
    <p>or</p>
  </div>

  <div class="other-form">

<div class="div">
    <img src="assets/image/sign-up/google-icon.svg" alt="">
    <p>Sign in with Google</p>
</div>

<div class="div">
    <img src="assets/image/sign-up/facebook.svg" alt="">
    <p>Sign in with Facebook</p>
</div>

<div class="div">
    <img src="assets/image/sign-up/black-apple.svg" alt="">
    <p>Sign in with Apple</p>
</div>

  </div>



</div>





</div>