

   .favourite{
    padding: 2rem;
    background: #F6F7F9;
    @media(max-width:400px) {

         padding: 10px;
    }
   .heading{
    background-color: white;
    border-radius: 10px;
    padding: 1rem;
      h2{
        color: var(--Secondary-500, #1A202C);
font-family: "poppins";
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: 150%; /* 48px */
letter-spacing: -0.96px;
      }
   }
   .content{
    .cars {
        padding-top: 1rem;
        display: flex;
        align-items: center;
     
        // justify-content: space-around;
        gap: 15px;

        @media(max-width:1204px) {
            flex-wrap: wrap;

            
        }

        .first {
            padding: 1rem;

            background-color: white;
            border-radius: 10px;
            width: 23%;

            @media(max-width:1204px) {

                width: 33%;

            }

            @media(max-width:952px) {

                width: 46%;

            }

            @media(max-width:712px) {

                width: 100%
            }

            .upper {
                display: flex;
                align-items: start;
                justify-content: space-between;

                .left {

                    // display: flex;
                    // align-items: start;
                    // justify-content: space-between; 
                    h5 {
                        color: var(--Secondary-500, #1A202C);

                        /* Bold/Type@20 */
                        font-family: "poppins";
                        font-size: 20px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 150%; /* 30px */
                        letter-spacing: -0.6px;
                    }

                    p {
                        font-size: 15px;
                        padding-inline: 6px;
                        color: gray;
                    }
                }

                .right {}
            }

            .middle {
                padding-block: 2rem;
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    width: 200px;
                }
            }

            .lower-middle {
                display: flex;
                align-items: center;
                justify-content: space-around;
                padding-block: 1rem;

                .flex {
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                     
                    img{
                        width: 18px;
                    }
                    p {
                        color: var(--Secondary-300, var(--gray, #90A3BF));

/* Medium/Type@14 */
font-family: "poppins";
font-size: 14px;
font-style: normal;
font-weight: 300;
line-height: 150%; /* 21px */
letter-spacing: -0.28px;
                    }
                }

            }

            .bottom {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding-top: 10px;
                padding-inline: 6px;

                .left {
                    p {

                        .price {
                            font-size: 26px
                        }

                        .gray {
                            color: gray
                        }
                    }
                }

                ;

                button {
                    font-size: 15px;
                    padding: 10px 20px;
                    border-radius: 7px;
                    border: none;
                    color: white;
                    background-color: var(--button-color);
                }

            }
        }


    }
   }


   }