
 



 <div class="favourite">
     <div class="heading">
        <h2>Favourite</h2>
     </div>


     <div class="content">
 
        <div class="cars">
            <div class="first"  *ngFor="let item of getvar">
                <h2></h2>

                <div class="upper">
                    <div class="left">
                        <h5>{{item.companyName}}</h5>
                            
                        <p>{{item.carType}}</p>
                    </div>
                    <div class="righty" >
                        <img src="assets/image/l-home/red-heart.svg" alt="" (click)="toggleheart( item)" *ngIf="!item.isFavourite"    >
                        <img src="assets/image/l-home/white-heart.svg" width="23px" (click)="toggleheart(item)" *ngIf="item.isFavourite"  >
                      </div>
                </div>
                <div class="middle">
              
                    <img   routerLink="/detail" src="{{item.bannerImage}}" alt="">
                </div>
                <div class="lower-middle">
                    <div class="flex">
                        <img src="assets/image/l-home/gas-station.svg" alt="">
                        <p>{{item.fuelCapacity}}L </p>
                    </div>
                    <div class="flex">
                        <img src="assets/image/l-home/manual.svg" alt="">
                        <p>Manual</p>
                    </div>
                    <div class="flex">
                        <img src="assets/image/l-home/people.svg" alt="">
                        <p>4 People</p>  
                    </div>
                </div>
                <div class="bottom">
                    <div class="left">
                        <p>pkr. <span class="price">{{item.price}}/</span> <span class="gray">day</span> </p>

                    </div>
                    <div class="right">
                  


                        <!-- this  is for  rooutiing with id  -->
                        <button [routerLink]="['/detail', item._id]">Rent Now</button>
                        <!-- <button routerLink="/detail">Rent Now</button> -->

                    </div>
                </div>


            </div>
       
           




        </div>



     </div>



 </div>