<div class="user-pannel">

     <form action="
     ">
     <div class="white-div">
          <div class="user-image">

               <div class="left">

                    <img src="assets/image/contact/user-img.svg" alt="">

                    <button>Upload Picture</button>
               </div>
               <div class="right">
                    <button>Save Profile</button>
               </div>


          </div>

             
          
          <div class="inputs-detail">

               <div class="input">

                    <label for="">
                         Full Name
                    </label>
                    <input type="text" placeholder="Jhon">
     
               </div>
               <div class="input">

                    <label for="">
                         Email
                    </label>
                    <input type="text" placeholder="Jhon@gmail.com">

               </div>
               <div class="input">

                    <label for="">
                         Phone
                    </label>
                    <input type="text" placeholder="619 3456 7890">

               </div>
               <div class="input">

                    <label for="">
                         Post Code
                    </label>
                    <input type="text" placeholder="CB4600">

               </div>
               <div class="input">

                    <label for="">
                         Address
                    </label>
                    <input type="text" placeholder="New York">

               </div>
               <div class="radio">

                    <label for="">
                 Gender
                    </label>
                    <div class="parent">
                         <div class="child-radio">
                              <label for="">Male</label>
                              <input type="radio" placeholder="Jhon">
                         </div>
                         <div class="child-radio">
                              <label for="">Female</label>
                              <input type="radio" >
                         </div>
                    </div>
               


               </div>
             

          </div>

     </div>
     <div class="second-white">

        <div class="first">
           <label for="">
               Driving Licence
           </label>
           <input type="text">
        </div>
        <div class="second">

           <div class="input">
               <label for="">Car Licence Back Image</label>
               <input type="text"  placeholder="Upload your licence back image 
                ">
           </div>
           <div class="btn">
               <button>Upload Picture</button>
           </div>



        </div>
        <div class="second">

          <div class="input">
              <label for="">Car Licence Back Image</label>
              <input type="text"  placeholder="Upload your licence back image 
              ">
          </div>
          <div class="btn">
              <button>Upload Picture</button>
          </div>



       </div>

     </div>

     



     </form>

</div>
<a href="/history">
     history
</a>