<div class="new-password">
    <div class="left">
      <img src="assets/image/sign-up/Cover.svg" alt="">
    </div>
  
    <div class="right">
      <div class="logo">
  
        <img src="assets/image/header/Group.svg" alt="">
        <div class="header">
          <h3>Create New Password</h3>
          <p>Please Enter your Password and Confirm Password</p>
        </div>
      </div>
      <div class="form">
        <form #login="ngForm" (ngSubmit)="submit(login.value)">
         
           
          <div class="input">
  
            <!-- this is password and use toggle -->
            <label for="name">Password</label>
            <div class="password">
              <input type="password" placeholder="Enter your Password" [type]="showPassword ? 'text' : 'password'"
              ngModel required="" name="newPassword"   maxlength="14" minlength="4" #newPassword="ngModel"            >
             
  
              <img src="assets/image/sign-up/eye-off.svg" alt=""*ngIf="!showPassword"  (click)="togglePasswordVisibility()">
              <img src="assets/image/sign-up/eye-on.svg" alt="" *ngIf="showPassword" (click)="togglePasswordVisibility()">
            </div>
            <span *ngIf="newPassword.invalid  && newPassword.touched "> Enter right password numeber</span>
          </div>
          <div class="input">
  
            <!-- this is password and use toggle -->
            <label for="name">Confirm Password</label>
            <div class="password">
              <input type="password" placeholder="Enter your Password" [type]="show2 ? 'text' : 'password'"
              ngModel required="" name="confirmPassword"   maxlength="14" minlength="4" #confirmPassword="ngModel"            >
             
  
              <img src="assets/image/sign-up/eye-off.svg" alt=""*ngIf="!show2"  (click)="togglePasswordVisibility1()">
              <img src="assets/image/sign-up/eye-on.svg" alt="" *ngIf="show2" (click)="togglePasswordVisibility1()">
            </div>
            <span *ngIf="confirmPassword.invalid  && confirmPassword.touched "> Enter right password numeber</span>
          </div>
         
  
          <!-- this is button toggle when form is not filled -->
          <button [disabled]="login.invalid && login.touched" 
          [style.background]="login.invalid && login.touched? 'gray' : ' #3563E9'"
           [style.color]="login.invalid ? 'white' : 'white'">Continue </button>
  
   
  
  
        </form>
  
      </div>
   
  
  
  
    </div>
  
  
  
  
  
  </div>
  
