 <div class="lower-home">
    <!-- this is the parent of all childs.all things are here  -->

    <!-- this is the first  para graph of rent car -->
       <div class="rent-car">
        <div class="left">
            <img src="assets/image/l-home/car.svg" alt="">
        </div>
<div class="right">
   <div class="para">
    <h4>Rent a Car </h4>
    <p>
       
We pride ourselves in always going the extra mile for our customers.
    </p>
   </div>
</div>



       </div>



       <!-- list car is coded here -->
       <div class="list-car">

       <div class="links">
        <p>Recent</p>
        <p>View All</p>
       </div>
       <div class="cars">
<div class="first">

<div class="upper">
    <div class="left">
        <h5>Swift</h5>
        <p>Sport</p>
    </div>
    <div class="right">
        <img src="assets/image/l-home/red-heart.svg" alt="">
    </div>
</div>
<div class="middle">
    <img src="assets/image/l-home/honda.svg" alt="">
</div>
<div class="lower-middle">
    <div class="flex">
        <img src="assets/image/l-home/gas-station.svg" alt="">
        <p>90L</p>
    </div>
    <div class="flex">
        <img src="assets/image/l-home/manual.svg" alt="">
        <p>Manual</p>
    </div>
    <div class="flex">
        <img src="assets/image/l-home/people.svg" alt="">
        <p>4 People</p>
    </div>
</div>
<div class="bottom">
    <div class="left">
   <p>pkr.4000/ <span>day</span> </p>

    </div>
    <div class="right">
<button>Rent Now</button>
    </div>
</div>


</div>
<!-- this is for  -->
<div class="first">

    <div class="upper">
        <div class="left">
            <h5>Swift</h5>
            <p>Sport</p>
        </div>
        <div class="right">
            <img src="assets/image/l-home/red-heart.svg" alt="">
        </div>
    </div>
    <div class="middle">
        <img src="assets/image/l-home/honda.svg" alt="">
    </div>
    <div class="lower-middle">
        <div class="flex">
            <img src="assets/image/l-home/gas-station.svg" alt="">
            <p>90L</p>
        </div>
        <div class="flex">
            <img src="assets/image/l-home/manual.svg" alt="">
            <p>Manual</p>
        </div>
        <div class="flex">
            <img src="assets/image/l-home/people.svg" alt="">
            <p>4 People</p>
        </div>
    </div>
    <div class="bottom">
        <div class="left">
       <p>pkr.4000/ <span>day</span> </p>
    
        </div>
        <div class="right">
    <button>Rent Now</button>
        </div>
    </div>
    
    
    </div>
    <div class="first">

        <div class="upper">
            <div class="left">
                <h5>Swift</h5>
                <p>Sport</p>
            </div>
            <div class="right">
                <img src="assets/image/l-home/red-heart.svg" alt="">
            </div>
        </div>
        <div class="middle">
            <img src="assets/image/l-home/honda.svg" alt="">
        </div>
        <div class="lower-middle">
            <div class="flex">
                <img src="assets/image/l-home/gas-station.svg" alt="">
                <p>90L</p>
            </div>
            <div class="flex">
                <img src="assets/image/l-home/manual.svg" alt="">
                <p>Manual</p>
            </div>
            <div class="flex">
                <img src="assets/image/l-home/people.svg" alt="">
                <p>4 People</p>
            </div>
        </div>
        <div class="bottom">
            <div class="left">
           <p>pkr.4000/ <span>day</span> </p>
        
            </div>
            <div class="right">
        <button>Rent Now</button>
            </div>
        </div>
        
        
        </div>
        <div class="first">

            <div class="upper">
                <div class="left">
                    <h5>Swift</h5>
                    <p>Sport</p>
                </div>
                <div class="right">
                    <img src="assets/image/l-home/red-heart.svg" alt="">
                </div>
            </div>
            <div class="middle">
                <img src="assets/image/l-home/honda.svg" alt="">
            </div>
            <div class="lower-middle">
                <div class="flex">
                    <img src="assets/image/l-home/gas-station.svg" alt="">
                    <p>90L</p>
                </div>
                <div class="flex">
                    <img src="assets/image/l-home/manual.svg" alt="">
                    <p>Manual</p>
                </div>
                <div class="flex">
                    <img src="assets/image/l-home/people.svg" alt="">
                    <p>4 People</p>
                </div>
            </div>
            <div class="bottom">
                <div class="left">
               <p>pkr.4000/ <span>day</span> </p>
            
                </div>
                <div class="right">
            <button>Rent Now</button>
                </div>
            </div>
            
            
            </div>






       </div>






       </div>




 </div>
