<div class="lower-home">
    <!-- this is the parent of all childs.all things are here  -->

    <!-- this is the first  para graph of rent car -->
    <div class="rent-car">
        <div class="left">
            <img src="assets/image/l-home/car.svg" alt="">
        </div>
        <div class="right">
            <div class="para">
                <h4>Rent a Car </h4>
                <p>

                    We pride ourselves in always going the extra mile for our customers.
                </p>
            </div>
        </div>



    </div>



    <!-- list car is coded here -->
    <div class="list-car">

        <div class="links">
            <p class="gray">Recent</p>
            <p>View All</p>
        </div>
        <div class="cars">
            <div class="first">

                <div class="upper">
                    <div class="left">
                        <h5>Swift</h5>
                        <p>Sport</p>
                    </div>
                    <div class="right">
                        <img src="assets/image/l-home/red-heart.svg" alt="">
                    </div>
                </div>
                <div class="middle">
                    <img src="assets/image/l-home/honda.svg" alt="">
                </div>
                <div class="lower-middle">
                    <div class="flex">
                        <img src="assets/image/l-home/gas-station.svg" alt="">
                        <p>90L</p>
                    </div>
                    <div class="flex">
                        <img src="assets/image/l-home/manual.svg" alt="">
                        <p>Manual</p>
                    </div>
                    <div class="flex">
                        <img src="assets/image/l-home/people.svg" alt="">
                        <p>4 People</p>
                    </div>
                </div>
                <div class="bottom">
                    <div class="left">
                        <p>pkr. <span class="price">4000/</span> <span class="gray">day</span> </p>

                    </div>
                    <div class="right">
                        <button>Rent Now</button>
                    </div>
                </div>


            </div>
            <!-- this is for  -->
            <div class="first">

                <div class="upper">
                    <div class="left">
                        <h5>Swift</h5>
                        <p>Sport</p>
                    </div>
                    <div class="right">
                        <img src="assets/image/l-home/red-heart.svg" alt="">
                    </div>
                </div>
                <div class="middle">
                    <img src="assets/image/l-home/honda.svg" alt="">
                </div>
                <div class="lower-middle">
                    <div class="flex">
                        <img src="assets/image/l-home/gas-station.svg" alt="">
                        <p>90L</p>
                    </div>
                    <div class="flex">
                        <img src="assets/image/l-home/manual.svg" alt="">
                        <p>Manual</p>
                    </div>
                    <div class="flex">
                        <img src="assets/image/l-home/people.svg" alt="">
                        <p>4 People</p>
                    </div>
                </div>
                <div class="bottom">
                    <div class="left">
                        <p>pkr. <span class="price">4000/</span> <span class="gray">day</span> </p>


                    </div>
                    <div class="right">
                        <button>Rent Now</button>
                    </div>
                </div>


            </div>
            <div class="first">

                <div class="upper">
                    <div class="left">
                        <h5>Swift</h5>
                        <p>Sport</p>
                    </div>
                    <div class="right">
                        <img src="assets/image/l-home/red-heart.svg" alt="">
                    </div>
                </div>
                <div class="middle">
                    <img src="assets/image/l-home/honda.svg" alt="">
                </div>
                <div class="lower-middle">
                    <div class="flex">
                        <img src="assets/image/l-home/gas-station.svg" alt="">
                        <p>90L</p>
                    </div>
                    <div class="flex">
                        <img src="assets/image/l-home/manual.svg" alt="">
                        <p>Manual</p>
                    </div>
                    <div class="flex">
                        <img src="assets/image/l-home/people.svg" alt="">
                        <p>4 People</p>
                    </div>
                </div>
                <div class="bottom">
                    <div class="left">
                        <p>pkr. <span class="price">4000/</span> <span class="gray">day</span> </p>


                    </div>
                    <div class="right">
                        <button>Rent Now</button>
                    </div>
                </div>


            </div>
            <div class="first">

                <div class="upper">
                    <div class="left">
                        <h5>Swift</h5>
                        <p>Sport</p>
                    </div>
                    <div class="right">
                        <img src="assets/image/l-home/red-heart.svg" alt="">
                    </div>
                </div>
                <div class="middle">
                    <img src="assets/image/l-home/honda.svg" alt="">
                </div>
                <div class="lower-middle">
                    <div class="flex">
                        <img src="assets/image/l-home/gas-station.svg" alt="">
                        <p>90L</p>
                    </div>
                    <div class="flex">
                        <img src="assets/image/l-home/manual.svg" alt="">
                        <p>Manual</p>
                    </div>
                    <div class="flex">
                        <img src="assets/image/l-home/people.svg" alt="">
                        <p>4 People</p>
                    </div>
                </div>
                <div class="bottom">
                    <div class="left">
                        <p>pkr. <span class="price">4000/</span> <span class="gray">day</span> </p>


                    </div>
                    <div class="right">
                        <button>Rent Now</button>
                    </div>
                </div>


            </div>






        </div>






    </div>

    <!-- experiece section of home page is here  -->
    <div class="experience">
        <h3>
            Fell the best experience with  our luxury car
        </h3>
        <div class="flex">
            <div class="section">
             <img src="assets/image/l-home/logo-1.svg" alt="">
<h4>Book with flexibility</h4>

<p>Easily find car and book   with no change fees.</p>
            </div>
            <div class="section">
                <img src="assets/image/l-home/logo-3.svg" alt="">
               
   <h4>Trusted and free
</h4>
   
   <p>We’re completely free to use – no hidden charges or fees..</p>
               </div>
               <div class="section">
                <img src="assets/image/l-home/logo-2.svg" alt="">
   <h4>We know travel </h4>
   
   <p>With 10 years of experience, we're ready to help find your perfect car</p>
               </div>
        </div>



    </div>

<!-- here is subscribe section  is here -->


<div class="subscribe">
<div class="para">
    <h3>
        become a driver  
    </h3>
    <h3>Your time. Your goals. You're the boss.</h3>
     
</div>


 <form action="">
    <label for="subscribe">subscription</label>
    <div class="input"> 
        <input type="text" placeholder="Enter your email" name="email" ngModel  #emailInput="ngModel" required 
        maxlength="30" pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$">
      
    <button>next</button>
   
</div>
<span *ngIf="emailInput.touched && emailInput.hasError('pattern')" style="color: red;">Enter a valid email address</span>
<span *ngIf="emailInput.touched && emailInput.hasError('required')" style="color: red;">Email is required</span>

</form>




</div>






</div>