.lower-home {
    background-color: #dce2e5;
    padding-inline: 2rem;
    @media(max-width:400px){
        padding-inline: 1rem;
    }


    //first phase is complete

    .rent-car {

        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        padding-block: 5rem;
        // transition: .2s all ease;

        @media(max-width:950px) {
            flex-direction: column;


        }

        .left {
            // &:hover {
            //     /* Override transition on hover */
            //     transition: .2s all ease;
            //     transform: scale(.9);
            // }

            img {
                width: 83%;
            }
        }

        .right {


            .para {
                // border: 1px solid black;
                width: 300px;
                margin-right: 100px;

                @media(max-width:950px) {
                    width: 100%;


                }

                h4 {
                    color: #000;
                    font-family: Poppins;
                    font-size: 50px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                }

                p {
                    color: rgba(0, 0, 0, 0.60);
                    font-family: Poppins;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }
            }
        }


    }


    //now list car is style here

    .list-car {

        .links {
            display: flex;
            align-items: center;
            justify-content: space-between;

            p {
                color: var(--button-color);
                font-size: 20px;
                cursor: pointer;

            }

            .gray {
                color: var(--Secondary-300, var(--gray, #90A3BF));
                font-family: "Plus Jakarta Sans";
                font-size: 20px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
            }
        }

        .cars {
            padding-top: 1rem;
            display: flex;
            align-items: center;
            justify-content: space-around;
            gap: 10px;

            @media(max-width:1204px) {
                flex-wrap: wrap;

                 
            }

            .first {
                padding: 1rem;

                background-color: white;
                border-radius: 10px;
                width: 23%;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                // &:hover{
                       
                //     transition:  .5s all ease;
                //     transform: scale(.9);
                // }

                @media(max-width:1226px) {

                    width: 33%;

                }
                
                @media(max-width:1226px) {

                    width: 43%;

                }

                @media(max-width:923px) {

                    width: 48%;

                }

                @media(max-width:624px) {

                    width: 100%
                }

                .upper {
                    display: flex;
                    align-items: start;
                    justify-content: space-between;

                    .left {

                        // display: flex;
                        // align-items: start;
                        // justify-content: space-between; 
                        h5 {
                            font-size: 24px;
                            padding: 6px;
                        }

                        p {
                            font-size: 15px;
                            padding-inline: 6px;
                            color: gray;
                        }
                    }

                    .right {}
                }

                .middle {
                    padding-block: 2rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    &:hover{
                       
                        transition:  .5s all ease;
                        transform: scale(.9);
                    }

                    img {
                        width: 200px;
                    }
                }

                .lower-middle {
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    padding-block: 1rem;

                    .flex {
                        display: flex;
                        align-items: center;
                        justify-content: space-around;

                        p {
                            color: gray;
                        }
                    }

                }

                .bottom {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding-top: 10px;
                    padding-inline: 6px;

                    .left {
                        p {
                           font-size: 14px;
                            .price {
                                font-size: 20px
                            }

                            .gray {
                                color: gray
                            }
                        }
                    }

                    ;

                    button {
                        font-size: 15px;
                        padding: 8px 16px;
                        border-radius: 7px;
                        border: none;
                        color: white;
                        background-color: var(--button-color);
                        &:hover{
                            background-color: #081630;
                            transition:  .5s all ease;
                            transform: scale(.99);
                        }
                    }

                }
            }


        }

    }

    //here is the experience section
    .experience {

        padding-top: 2rem;
        padding-bottom: 2rem;
        margin-top: 5rem;
        background-color: #fff;

        h3 {
            color: #000;
            text-align: center;
            font-family: Poppins;
            font-size: 35px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
        }

        .flex {

            display: flex;
            align-items: center;
            justify-content: space-around;
            gap: 10px;
            flex-wrap: wrap;
            padding-top: 2rem;

            .section {
                width: 343px;
                //    border: 1px solid; 
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                &:hover{
                       
                    transition:  .5s all ease;
                    transform: scale(.9);
                }

                img {}

                h4 {
                    padding-block: 1rem;
                    color: var(--blue, #3563E9);
                    text-align: center;
                    font-family: Poppins;
                    font-size: 30px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                }

                p {
                    color: rgba(0, 0, 0, 0.60);
                    text-align: center;
                    font-family: Roboto;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }

            }

        }



    }




    //subscribe section  style

    .subscribe {
        background-image: url("../../assets/image/l-home/back-img.svg");
        height: 450px;
        margin-block: 2rem;
        padding: 3rem;
        @media(max-width:733px){
          padding: 1rem;
        }

        .para {
            width: 530px;
            @media(max-width:733px){
                width: 100%;
            }

            h3 {

                color: #FFF;
                font-family: Poppins;
                font-size: 35px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                text-transform: capitalize;
                @media(max-width:940px){
                    font-size: 22px;
                    
                }
            }

            

        }

        form {
            padding-top: 5rem;

            label {
                color: #FFF;
                font-family: poppins;
                font-size: 30px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                text-transform: capitalize;
                @media(max-width:633px){
                    font-size: 20px;
                    
                }
            }

            .input {

                display: flex;
                align-items: center;
                justify-content: space-between;

                background-color: white;
                border-radius: 17px;
                padding: 2px;
                width: 855px;
                @media(max-width:988px){
                    width: 100%;
                }
                @media(max-width:733px){
                    width: 100%;
                }

                input {
                    padding-left: 25px;
                    outline: none;
                    width: 591px;
                    color: rgba(0, 0, 0, 0.35);
                    font-family: Poppins;
                    border: none;
                    font-size: 30px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    text-transform: capitalize;
                    @media(max-width:940px){
                        width: 100%;
                        font-size: 14px;
                        padding-left: 10px;
                    }
                }

                button {
                    color: #FFF;
                    font-family: Poppins;
                    font-size: 30px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    text-transform: capitalize;
                    border: none;
                    padding: 18px 50px;
                    color: white;
                    border-radius: 17px;
                    background: var(--blue, #3563E9);
                    @media(max-width:940px){
                        font-size: 16px;
                        padding: 10px 30px;
                    }
                }
            }
        }




    }



























}