 


  <div class="history-container">
         <div class="heading">
        <h2>History</h2>
<p>Here you can see the history of rent cars that you used </p>

         </div>




         <div class="history-car">

            <div class="cars">
                <div class="first">

                    <div class="left-first">
                        <div class="upper">
                            <h3>Nissan GT - R </h3>
                            <p>Sport</p>
                        </div>
                        <div class="middle">
                            <img src="assets/image/l-home/honda.svg" alt="">
                        </div>
                        <div class="lower-middle">
                            <div class="flex">
                                <img src="assets/image/l-home/gas-station.svg" alt="">
                                <p>90L</p>
                            </div>
                            <div class="flex">
                                <img src="assets/image/l-home/manual.svg" alt="">
                                <p>Manual</p>
                            </div>
                            <div class="flex">
                                <img src="assets/image/l-home/people.svg" alt="">
                                <p>4 People</p>
                            </div>
                        </div>
                    </div>
                    <div class="right-first">
                          <div class="top-right">
                            <p>Cancel</p>
                            <button>Return</button>
                          </div>
                          <div class="london-bridge">
                            <div class="left-of-bridge">
                                <h3>London Bridge</h3>
                                <p>Pickup point</p>
                            </div>
                            <div class="right-of-bridge">
                                4 Days
                            </div>
                         
                          </div>


                          <div class="king-gorge">

                            <div class="left-king">
                              <h3>4 Days</h3>
                              <p>Drop Off</p>
                            </div>
                            <div class="right-king">
                            <p>Price</p>
                            <h3>$99.00</h3>
                            <p>/ day</p>
                            </div>
                          </div>



                    </div>
    
                 
               
    
    
                </div>
                <!-- this is for  -->
                <div class="first">

                    <div class="left-first">
                        <div class="upper">
                            <h3>Nissan GT - R </h3>
                            <p>Sport</p>
                        </div>
                        <div class="middle">
                            <img src="assets/image/l-home/honda.svg" alt="">
                        </div>
                        <div class="lower-middle">
                            <div class="flex">
                                <img src="assets/image/l-home/gas-station.svg" alt="">
                                <p>90L</p>
                            </div>
                            <div class="flex">
                                <img src="assets/image/l-home/manual.svg" alt="">
                                <p>Manual</p>
                            </div>
                            <div class="flex">
                                <img src="assets/image/l-home/people.svg" alt="">
                                <p>4 People</p>
                            </div>
                        </div>
                    </div>
                    <div class="right-first">
                          <div class="top-right">
                  
                            <button class="btn">Re-Rent</button>
                          </div>
                          <div class="london-bridge">
                            <div class="left-of-bridge">
                                <h3>London Bridge</h3>
                                <p>Pickup point</p>
                            </div>
                            <div class="right-of-bridge">
                                4 Days
                            </div>
                         
                          </div>


                          <div class="king-gorge">

                            <div class="left-king">
                              <h3>4 Days</h3>
                              <p>Drop Off</p>
                            </div>
                            <div class="right-king">
                            <p>Price</p>
                            <h3>$99.00</h3>
                            <p>/ day</p>
                            </div>
                          </div>



                    </div>
    
                 
               
    
    
                </div>
            
    
    
    
    
    
    
            </div>
            
         </div>


         <a routerLink="/favourite"> favourite</a>





  </div>
