    

<div class="required">
<div class="form">
   <div class="left">


   <form action="">
     
   <div class="input">
     <label for="make">Make</label>
      <select id="cars" name="cars">
        <option value="volvo">select option</option>
        <option value="saab">Saab</option>
        <option value="fiat">Fiat</option>
        <option value="audi">Audi</option>
      </select>
   </div>
   <div class="input">
      <label for="make">Make</label>
       <select id="cars" name="cars">
         <option value="volvo">select option</option>
         <option value="saab">Saab</option>
         <option value="fiat">Fiat</option>
         <option value="audi">Audi</option>
       </select>
    </div>
    <div class="input">
      <label for="make">Make</label>
       <select id="cars" name="cars">
         <option value="volvo">select option</option>
         <option value="saab">Saab</option>
         <option value="fiat">Fiat</option>
         <option value="audi">Audi</option>
       </select>
    </div>
    <div class="input">
      <label for="make">Make</label>
       <select id="cars" name="cars">
         <option value="volvo">select option</option>
         <option value="saab">Saab</option>
         <option value="fiat">Fiat</option>
         <option value="audi">Audi</option>
       </select>
    </div>
    <div class="input">
      <label for="make">Make</label>
       <select id="cars" name="cars">
         <option value="volvo">select option</option>
         <option value="saab">Saab</option>
         <option value="fiat">Fiat</option>
         <option value="audi">Audi</option>
       </select>
    </div>




   </form>
</div>
</div>




</div>
