<div class="new-password">
    <div class="left">
      <img src="assets/image/sign-up/Cover.svg" alt="">
    </div>
  
    <div class="right">
      <div class="logo">
  
        <img src="assets/image/header/Group.svg" alt="">
        <div class="header">
          <h3>Sign in to your Account</h3>
          <p>Please Enter your Valid OTPs </p>
        </div>
      </div>
      <div class="form">

        <form #otp="ngForm" (ngSubmit)="validateotp(otp.value)">
            
        <ng-otp-input #otpInput (onInputChange)="onOtpChange($event)" [config]="{length:6}"></ng-otp-input>

        
        
          
          <!-- <ng-otp-input  [formCtrl]="YourFormControl"  [config]="{length:5}"></ng-otp-input> -->
          <p>0:59</p>
  
          <!-- this is button toggle when form is not filled -->
          <button [disabled]="otp.invalid && otp.touched" 
          [style.background]="otp.invalid && otp.touched? 'gray' : ' #3563E9'"
           [style.color]="otp.invalid ? 'white' : 'white'">Continue </button>
  
   
           
           <a routerLink="">resend</a>
  
  
        </form>
  
      </div>
   
  
  
  
    </div>
  
  
  
  
  
  </div>
