/* You can add global styles to this file, and also import other style files */


@font-face {
    font-family: poppins;
    src: url(assets/fonts/Poppins-Medium.otf);
}










:root{

--button-color:#3563E9;


}









*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}