
<!-- this section is done -->
<div class="forget-account">
    <div class="left">
      <img src="assets/image/sign-up/Cover.svg" alt="">
    </div>
  
    <div class="right">
      <div class="logo">
  
        <img src="assets/image/header/Group.svg" alt="">
        <div class="header">
          <h3>Forget your Account?</h3>
          <p>Welcome back! please enter your detail</p>
        </div>
      </div>
      <div class="form">
        <form #login="ngForm" (ngSubmit)="submit(login.value)">
         
          <div class="input">
            <label for="name">Email</label>
            <input type="text" placeholder="Enter your email" name="email" ngModel  #emailInput="ngModel" required 
            maxlength="30" pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$">
            <span *ngIf="emailInput.touched && emailInput.hasError('pattern')">Enter a valid email address</span>
            <span *ngIf="emailInput.touched && emailInput.hasError('required')">Email is required</span>
          
          </div>
         
  
          <!-- this is button toggle when form is not filled -->
          <button [disabled]="login.invalid && login.touched" 
          [style.background]="login.invalid && login.touched? 'gray' : ' #3563E9'"
           [style.color]="login.invalid ? 'white' : 'white'">Continue </button>
  
   
  
  
        </form>
        <p routerLink="/new-password" > Create new password</p>
      </div>
 
  
  
  
    </div>
  
  
  
  
  
  </div>
